<div class="modal fade" id="contactsModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Quản lý liên lạc</h4>
      </div>
      <div class="modal-body">
        <!-- menu -->
        <ul class="nav nav-tabs">
          <!-- search -->
          <li class="active">
            <a data-toggle="tab" href="#find-user">Tìm người dùng</a>
          </li>
          <!-- List -->
          <li>
            <a id="link-contacts" data-toggle="tab" href="#contacts">Danh bạ
              <% if(countAllContacts > 0) { %>
                <span class="show-number-contacts count-contacts">
                  <em>(<%= countAllContacts %>)</em>
                </span>
              <%} else { %>
                <span class="show-number-contacts count-contacts">
                  <em></em>
                </span>
                <% } %>
              
            </a>
          </li>
          <!-- Waiting for confirmation -->
          <li>
            <a id="link-request-contact-sent" data-toggle="tab" href="#request-contact-sent">
              Đang chờ xác nhận
              <% if(countAllContactsSent > 0) { %>
                <span class="show-number-contacts count-request-contact-sent">
                  <em>(<%= countAllContactsSent %>)</em>
                </span>
              <% } else { %>
                <span class="show-number-contacts count-request-contact-sent">
                  <em></em>
                </span>
                <% } %>
            </a>
          </li>
          <!-- Friend request -->
          <li>
            <a id="link-request-contact-received" data-toggle="tab" href="#request-contact-received">
              Yêu cầu kết bạn
              <% if(countAllContactsReceived > 0) { %>
                <span class="show-number-contacts count-request-contact-received">
                  <em>(<%= countAllContactsReceived %>)</em>
                </span>
                <%} else { %>
                  <span class="show-number-contacts count-request-contact-received">
                    <em></em>
                  </span>
                  <% } %>
                
            </a>
          </li>
        </ul>

        <!-- tab content -->
        <div class="tab-content">
          <!-- tab search -->
          <div class="tab-pane fade in active" id="find-user">
            <div class="find-user-top">
              <div class="input-group col-md-12">

                <!-- input search -->
                <input name="name" id="input-find-users-contact" class="form-control" type="text"
                  placeholder="Nhập E-mail hoặc username..." />

                <span class="input-group-btn">
                  <button id="btn-find-users-contact" class="btn btn-lg" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="find-user-bottom">
              <ul class="contactList"></ul>
            </div>
          </div>

          <!-- tab contacts -->
          <div class="tab-pane fade" id="contacts">
            <div class="find-user-bottom">
              <ul class="contactList">
                <% contacts.forEach(function (user) { %>
                  <li class="_contactList" data-uid="<%=user._id%>">
                    <div class="contactPanel">
                      <div class="user-avatar"><img src="/images/users/<%= user.avatar %>" alt="" /></div>
                      <div class="user-name">
                        <p><%= user.username %></p>
                      </div>
                      <br />
                      <div class="user-address">
                        <span><%= user.address ? user.address : "" %></span>
                      </div>
                      <div class="user-talk" data-uid="<%=user._id%>">Trò chuyện</div>
                      <div class="user-remove-contact action-danger" data-uid="<%= user._id %>">
                        Xóa liên hệ
                      </div>
                    </div>
                  </li>
                <% }); %>
              </ul>
              <a href="javascript:void(0)" class="d-block" style="text-align: center;" id="link-read-more-contacts">
                <strong>Xem thêm 10 bạn bè</strong>
              </a>
            </div>
          </div>

          <!-- Tab contacts sent -->
          <div class="tab-pane fade" id="request-contact-sent">
            <div class="find-user-bottom">
              <ul class="contactList">
                <% contactsSent.forEach(function (user) { %>
                  <li class="_contactList" data-uid="<%=user._id%>">
                    <div class="contactPanel">
                      <div class="user-avatar"><img src="/images/users/<%= user.avatar %>" alt="" /></div>
                      <div class="user-name">
                        <p><%= user.username %></p>
                      </div><br />
                      <div class="user-address">
                        <span><%= user.address ? user.address : "" %></span>
                      </div>
                      <div class="user-remove-request-sent action-danger" data-uid="<%=user._id%>">
                        Hủy yêu cầu
                      </div>
                    </div>
                  </li>
                <% }); %>
              </ul>
              <a href="javascript:void(0)" class="d-block" style="text-align: center;" id="link-read-more-contacts-sent">
                <strong>Xem thêm 10 người khác</strong>
              </a>
            </div>
          </div>

          <!-- Tab contacts received -->
          <div class="tab-pane fade" id="request-contact-received">
            <div class="find-user-bottom">
              <ul class="contactList">
                <% contactsReceived.forEach(function (user) { %>
                  <li class="_contactList" data-uid="<%=user._id%>">
                    <div class="contactPanel">
                      <div class="user-avatar"><img src="/images/users/<%=user.avatar%>" alt="" /></div>
                      <div class="user-name">
                        <p><%=user.username%></p>
                      </div><br />
                      <div class="user-address">
                        <span><%=user.address ? user.address : "" %></span>
                      </div>
                      <div class="user-acccept-contact-received" data-uid="<%=user._id%>">
                        Chấp nhận
                      </div>
                      <div class="user-reject-request-contact-received action-danger" data-uid="<%=user._id%>">
                        Xóa yêu cầu
                      </div>
                    </div>
                  </li>
                <% }); %>
              </ul>
                <a href="javascript:void(0)" class="d-block" style="text-align: center;" id="link-read-more-contacts-recived">
                  <strong>Xem thêm 10 người khác</strong>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>