<div class="col-sm-3 sidenav no-padding">
  <div class="left">
    <div class="top form-group">
      <select class="form-control" id="select-type-chat">
        <option value="all-chat" data-target="#all-chat">Tạo bộ trò chuyện</option>
        <option value="user-chat" data-target="#user-chat">Trò chuyện cá nhân</option>
        <option data-target="#group-chat" value="group-chat">Trò chuyện nhóm</option>
      </select>
      <a class="create-group-chat" href="#groupChatModal" data-toggle="modal" title="Tạo một nhóm trò chuyện mới"></a>
    </div>
    <div class="tab-content">
      <div class="tab-pane" id="user-chat">
        <ul class="people no-padding-start">
          <% userConversations.forEach(function(conversation){%>
            <a class="room-chat" data-target="#to_<%=conversation._id%>" href="#uid_<%=conversation._id%>">
              <li class="person" data-chat="<%=conversation._id%>">
                <div class="left-avatar">
                  <div class="dot"></div>
                  <img src="images/users/<%=conversation.avatar%>" alt="" />
                </div>
                <span class="name">
                  <%if(conversation.username.length > 12) {%> 
                    <%=conversation.username.slice(0,12)%> 
                    <span>...</span>
                  <%}else{%> 
                    <%=conversation.username%>
                  <%}%>
                </span>
                <span class="time">Một phút trước fake</span>
                <span class="preview">Xin chào</span>
              </li>
            </a>
          <%});%> 
          <div class="flex-column-center py-2">
            <div class="read-more-user-chat-loader">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <a href="javascript:void(0)" class="d-block" style="text-align: center;" id="link-read-more-user-chat">
              <strong>Xem thêm 10 thông báo</strong>
            </a>
          </div>
        </ul>
        
      </div>
      <div class="tab-pane" id="group-chat">
        <ul class="people no-padding-start">
          <% groupConversations.forEach(function(conversation){%>
            <a class="room-chat" data-target="#to_<%=conversation._id%>" href="#uid_<%=conversation._id%>">
              <li class="person group-chat" data-chat="<%=conversation._id%>">
                <div class="left-avatar">
                  <!-- <div class="dot"></div>-->
                  <img src="images/users/group-avatar-trungquandev.png" alt="" />
                </div>
                <span class="name">
                  <span class="group-chat-name">
                    <%if(conversation.name.length > 12) {%> 
                      <%=conversation.name.slice(0,12)%> 
                      <span>...</span>
                    <%}else{%> 
                      <%=conversation.name%>
                    <%}%> 
                  </span>
                </span>
                <span class="time">
                  
                </span>
                <span class="preview">Chào cả nhóm</span>
              </li>
            </a>
          <%});%>
          <div class="flex-column-center py-2">
            <div class="read-more-group-chat-loader">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <a href="javascript:void(0)" class="d-block" style="text-align: center;" id="link-read-more-group-chat">
              <strong>Xem thêm 10 thông báo</strong>
            </a>
          </div>
        </ul>
        
      </div>
      <div class="tab-pane active" id="all-chat">
        <ul class="people no-padding-start">
          <% allConversationsWithMessage.forEach(function(conversation){%>
            <% if(conversation.members) {%>
              <a class="room-chat" href="#uid_<%=conversation._id%>" data-target="#to_<%=conversation._id%>">
                <li class="person group-chat" data-chat="<%=conversation._id%>">
                  <div class="left-avatar">
                    <!-- <div class="dot"></div>-->
                    <img src="images/users/group-avatar-trungquandev.png" alt="" />
                  </div>
                  <span class="name">
                    <span class="group-chat-name">
                      <%if(conversation.name.length > 12) {%> 
                        <%=conversation.name.slice(0,12)%> 
                        <span>...</span>
                      <%}else{%> 
                        <%=conversation.name%>
                      <%}%> 
                    </span>
                  </span>
                    <span class="time">
                      <%= convertTimestampToHumanTime(lastItemOfArray(conversation.messages).createdAt) %>
                    </span>
                    <span class="preview">
                      <%if(lastItemOfArray(conversation.messages).messageType == 'text') { %>
                        <%= lastItemOfArray(conversation.messages).text %>
                      <%}%>

                      <%if(lastItemOfArray(conversation.messages).messageType == 'image') { %>
                        Hình ảnh...
                      <%}%>

                      <%if(lastItemOfArray(conversation.messages).messageType == 'file') { %>
                        Tệp đính kèm...
                      <%}%>
                    </span>
                </li>
              </a>
            <%} else { %>
              <a class="room-chat" data-target="#to_<%=conversation._id%>" href="#uid_<%=conversation._id%>">
                <li class="person" data-chat="<%=conversation._id%>">
                  <div class="left-avatar">
                    <div class="dot"></div>
                    <img src="images/users/<%=conversation.avatar%>" alt="" />
                  </div>
                  <span class="name">
                    <%if(conversation.username.length > 14) {%> 
                      <%=conversation.username.slice(0, 12)%> 
                      <span>...</span>
                    <%}else{%> 
                      <%=conversation.username%>
                    <%}%>
                  </span>
                  <span class="time">
                    <%= convertTimestampToHumanTime(lastItemOfArray(conversation.messages).createdAt) %>
                  </span>
                  <span class="preview">
                    <%if(lastItemOfArray(conversation.messages).messageType == 'text') { %>
                      <%= lastItemOfArray(conversation.messages).text %>
                    <%}%>

                    <%if(lastItemOfArray(conversation.messages).messageType == 'image') { %>
                      Hình ảnh...
                    <%}%>

                    <%if(lastItemOfArray(conversation.messages).messageType == 'file') { %>
                      Tệp đính kèm...
                    <%}%>
                  </span>
                </li>
              </a>
            <%}%>
          <%});%> 
              
          <a class="room-chat" id="null-contact" href="#">
            <li class="person active" data-chat="person-default">
              <div class="left-avatar">
                <div class="dot online"></div>
                <img class="avatar-online" src="images/users/trungquandev_new-ava.png" alt="" />
              </div>
              <span class="name">Minh Chìu (admin)</span>
              <span class="time">B&acirc;y gi&#x1EDD;</span>
              <span class="preview">Xin chào <strong>Minh Chìu</strong>...</span>
            </li>
          </a>
          <div class="flex-column-center py-2">
            <div class="read-more-all-chat-loader">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <a href="javascript:void(0)" class="d-block" style="text-align: center;" id="link-read-more-all-chat">
              <strong>Xem thêm 10 thông báo</strong>
            </a>
          </div>
        </ul>
        
      </div>
    </div>
    
  </div>
</div>