.col-sm-9.sidenav.no-padding
  .right(data-chat='')
    .top
      span
        | To: 
        span.name Minh Chìu (admin)
      span.chat-menu-right
        a#show-attachs(href='#attachsModal', data-toggle='modal')
          | T&#x1EC7;p &dstrok;&iacute;nh k&egrave;m
          i.fa.fa-paperclip
      span.chat-menu-right
        a(href='javascript:void(0)') &nbsp;
      span.chat-menu-right
        a#show-images(href='#imagesModal', data-toggle='modal')
          | H&igrave;nh &#x1EA3;nh
          i.fa.fa-photo
    .content-chat
      .chat(data-chat='')
        .bubble.me(data-mess-id='${item._id}')
          | Hello, I&apos;m Trung Quan, author of
          | https://minhchiu.com
        .bubble.you(data-mess-id='${item._id}')
          | Really? I&apos;m Trung Quan too, author of
          | https://minhchiu.com, are you fake?
        .bubble.me(data-mess-id='${item._id}') This is me !!!
        .bubble.me.bubble-image-file(data-mess-id='${item._id}')
          img.show-image-chat(src='images/users/my_avatar.jpg')
        .bubble.me.bubble-image-file(data-mess-id='${item._id}')
          a(href='fileExample/Tệp văn bản - minhchiu.pdf', download='${ item.file.fileName }')
            | T&#x1EC7;p v&abreve;n b&#x1EA3;n - minhchiu.pdf
        .bubble.you(data-mess-id='${item._id}') And this is me @@ !!!
        .bubble.you.bubble-image-file(data-mess-id='${item._id}')
          img.show-image-chat(src='images/users/trungquandev_new-ava.png')
        .bubble.you.bubble-image-file(data-mess-id='${item._id}')
          a(href='fileExample/Tệp văn bản - minhchiu.docx', download='${ item.file.fileName }')
            | T&#x1EC7;p v&abreve;n b&#x1EA3;n - minhchiu.docx
    .write(data-chat='')
      input.write-chat(type='text', data-chat='17071995')
      .icons
        a.icon-chat(href='#', data-chat='')
          i.fa.fa-smile-o
        label(for='image-chat')
          input#image-chat.image-chat(type='file', name='my-image-chat', data-chat='')
          i.fa.fa-photo
        label(for='attach-chat')
          input#attach-chat.attach-chat(type='file', name='my-attach-chat', data-chat='')
          i.fa.fa-paperclip
        a#video-chat.video-chat(href='#streamModal', data-chat='', data-toggle='modal')
          i.fa.fa-video-camera
        input#peer-id(type='hidden', value='')
  // Trường hợp tài khoản chưa có bạn bè thì hiện màn hình dưới.
  //
    <div class="right active-chat" data-chat="person-default">
    <div class="top">
    <span>To: <span class="name">Trung Quân (admin)</span></span>
    <span class="chat-menu-right">
    <a href="#">
    Tệp đính kèm
    <i class="fa fa-paperclip"></i>
    </a>
    </span>
    <span class="chat-menu-right">
    <a href="javascript:void(0)">&nbsp;</a>
    </span>
    <span class="chat-menu-right">
    <a href="#">
    Hình ảnh
    <i class="fa fa-photo"></i>
    </a>
    </span>
    </div>
    <div class="content-chat">
    <div class="chat active-chat" data-chat="person-default">
    <div class="conversation-start">
    <span>Một tháng trước</span>
    </div>
    <div class="bubble you">
    Xin chào <strong>Trung Quân</strong>, tài khoản của bạn đã sẵn sàng.
    </div>
    <div class="bubble you">
    Bây giờ, hãy tìm kiếm bạn bè để trò chuyện.
    </div>
    <div class="bubble you">
    Lưu ý: Đây là tin nhắn tự động, vui lòng không trả lời lại. Cảm ơn <strong>Trung Quân</strong> !!!
    </div>
    </div>
    </div>
    <div class="write">
    <input type="text" class="write-chat" data-chat="" value="Hiện tại không thể Chat - Hãy tìm bạn bè trước khi chat. Xin cảm ơn !!!">
    <div class="icons">
    <a href="#"><i class="fa fa-smile-o"></i></a>
    <a href="#"><i class="fa fa-photo"></i></a>
    <a href="#"><i class="fa fa-paperclip"></i></a>
    <a href="#"><i class="fa fa-video-camera"></i></a>
    </div>
    </div>
    </div>
